body {
	background-color: darkblue;

}
.container {
	width: 40%;
	margin-left: 25%;
	margin-top: 10%;
	align-items: center;
	display: inline-block;
}
h1{
	font-family: 'Playfair Display', serif;
	text-align: center;
}
.dow_container{
	display: inline-block;
}
.btn-dark{
    display: inline-block;
    position: relative;
    top: 87px;
    background-color: black;
    color: white;
    text-align: center;
    border: 2px solid gray;
    padding: 35px 15px;
}
.btn-light{
	display: inline-block;
	background-color: white;
	text-align: center;
	border: 2px solid gray;
	padding: 50px 30px;
	margin: -2px;
}
.btn-outline-secondary{
	display: inline-block;
	background-color: white;
	text-align: center;
	border: 2px solid gray;
	padding: 50px 30px;
	margin: -2px;
}